:root {
    --primary-color: #295135;
    --primary-color-tr: #29513500;
    --secondary-color: #414073;
    --accent1-color: #9bc794;
    --accent2-color: #41658a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
}

main {
    padding-top: 65px;
}

h1 {
    position: absolute;
    width: 100%;
    top: 65px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "DM Serif text", serif;
    color: var(--accent2-color);
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30% 40% 30%;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.hero img {
    grid-area: 1/1/4/4;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;

}

.hero article {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background-color: #9bc79480;
    padding: 1rem;
    z-index: 1;

}

.hero article img {
    width: auto;
    max-width: 200px;
    float: right;
    border: 1px solid #000;
    border-radius: 50%;
    aspect-ratio: 1/1;

}

.hero p {
    color: white;
    align-items: center;
}

.hero h1 {
    grid-area: 1/2/3/2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 2;
}

header {
    background-color: #ffffff80;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr repeat(4, auto);
    gap: 30px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
}

header:hover {
    background-color: white;
}

header img {
    grid-column: 1;
    max-width: 80px;
}

header nav {
    box-sizing: border-box;
    grid-column: 3 / 7;
    display: flex;
    gap: 0;
}

nav a {
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    text-decoration: none;
    color: var(--secondary-color);
}

header nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
}

.history {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto 1fr;
    min-height: 500px;
    margin: 150px 75px;
    border-radius: 15px;
    background-color: var(--accent1-color);
}

.history h2 {
    grid-area: 1 / 1 / 2 / 4;
    padding: 1em;
}

.history img {
    grid-column: 2 / 3;
    border: 1px solid black;
    transition: transform 1s ease;
}

.history img:hover {
    box-shadow: 0 0 30px var(--primary-color);
    transform: scale(1.1);
}

#his1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 30px;
}

#his2 {
    grid-column: 3/4;
    padding: 30px;
}

#adventure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#adventure h2 {
    text-align: center;
    margin: 1em;
    flex-basis: 100%;
}

#adventure img {
    width: 250px;
}

#adventure figure {
    padding: 1em;
    border: 1px solid black;
    border-radius: 5%;
    transition: transform 1s ease;
    margin: 30px 0;
    background-color: white;
}

#adventure figure:hover {
    transform: scale(1.2);
}

#adventure figcaption {
    text-align: center;
    font-size: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 40px;
}

footer p {
    grid-column: 2/3;
    text-align: center;
}

footer img:hover {
    transform: scale(1.3);
}

footer a {
    text-decoration: none;

}

#contact-hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--accent1-color);
    max-width: 1800px;
    margin: 2rem auto;
    padding: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 12.5px;
}

#employees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 30px;
}

#employees h2 {
    flex-basis: 100%;
    text-align: center;
}

#employees img {
    margin: 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#employees figure {
    max-width: 200px;
}

#employees figcaption {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

#company-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

iframe {
    width: 300px;
    height: 300px;
}

form {
    max-width: 800px;
    margin: 1rem auto;
    display: grid;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #EEE;
    font-family: Roboto, sans-serif;
}

legend {
    font-family: DM Serif text, serif;
    font-size: 1.2rem;
}

fieldset {
    margin: .5rem;
    padding: .5rem;
}

#personalinfo {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

#radioform {
    width: 200px;
    border: none;
}

#message {
    display: grid;
}

textarea,
input {
    padding: .5rem;
}

button {
    background-color: var(--accent1-color);
    max-width: 200px;
    margin: .5rem auto;
    padding: 1rem;
    color: #000;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

button:active {
    transform: scale(0.95);
}

/*HOME PAGE*/

.home-hero {
    margin-top: 3rem;
    position: relative;
}

.home-hero img {
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

.home-hero h2 {
    font-size: 50px;
    position: absolute;
    background-color: #ffffff80;
    width: 100%;
    height: 100px;
    text-align: center;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem;
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

.newsletter {
    position: relative;
    margin: 5rem 1rem;
    width: 40%;
    transition: transform 1s ease;
}

.newsletter:hover{
    transform: scale(1.05);
}

.newsletter img {
    width: 100%;
    height: 832px;
    object-fit: cover;
    border-radius: 15px;
}

.newsletter form {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    border-radius: 0;
    border: 0;
    width: 45%;
    height: 800px;
    background-color: #29513580;
    border-radius: 15px;   
}

.newsletter fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0;
}

.newsletter legend{
    color: white;
    font-size: 25px;
    text-align: center;
}

.newsletter label{
    color: white;
    font-size: 20px;
}

.newsform {
    display: flex;
    flex-direction: column;
}

.gotoaction{
    position: relative;
    width: 40%;
    margin: 5rem 1rem;
    transition: transform 1s ease;
}

.gotoaction:hover{
    transform: scale(1.05);
}

.gotoaction img{
    width: 100%;
    height: 832px;
    object-fit: cover;
    border-radius: 15px;
}

.gototrips{
    display: flex;
    flex-direction: column;
}
.gotoaction h2{
    position: absolute;
    text-align: center;
    top: 5px;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.gotoaction a {
    position: absolute;
    text-decoration: none;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #295135dd;
    box-sizing: border-box;
    padding: 1rem;
    color: white;
}
.gotoaction a:hover{
    background-color: var(--accent1-color);
    color: #000;
}
.gotoaction a:active{
    transform: scale(0.95);
}

#grid-layout{
    display: grid;
}