:root {
    --primary-color: #295135;
    --primary-color-tr: #29513500;
    --secondary-color: #414073;
    --accent1-color: #9bc794;
    --accent2-color: #41658a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: fit-content;
    width: max-content;
}

main {
    padding-top: 65px;
}

h2 {
    font-family: "DM Serif text", serif;
    color: var(--accent2-color);
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30% 40% 30%;
    width: 100%;
    font-size: 25px;
}

.hero img {
    grid-area: 1/1/4/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.hero article {
    grid-area: 2/2/3/3;
    align-items: center;
    background-color: #9bc79480;
    padding: 10rem 5rem 7rem;
    z-index: 1;

}

.hero article img {
    width: auto;
    max-width: 200px;
    float: right;
    border: 1px solid #000;
    border-radius: 45%;
}

.hero p {
    color: white;
    align-items: center;
}

.hero h1 {
    grid-area: 1/2/3/2;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 2;
}

header {
    background-color: #ffffff80;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr repeat(4, auto);
    gap: 30px;
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
}

header:hover {
    background-color: white;
}

header img {
    grid-column: 1;
    max-width: 80px;
}

header nav {
    box-sizing: border-box;
    grid-column: 3 / 7;
    display: flex;
    gap: 0;
}

nav a {
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    text-decoration: none;
    color: var(--secondary-color);
}

header nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

p {
    font-family: "Roboto", sans-serif;
}

.history {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto 1fr;
    min-height: 500px;
    margin: 150px 75px;
    border-radius: 15px;
    background-color: var(--accent1-color);
}

.history h2 {
    grid-area: 1 / 1 / 2 / 4;
    padding: 1em;
}

.history img {
    grid-column: 2 / 3;
    border: 1px solid black;
    transition: transform 1s ease;
}

.history img:hover {
    box-shadow: 0 0 30px var(--primary-color);
    transform: scale(1.1);
}

#his1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 30px;
}

#his2 {
    grid-column: 3/4;
    padding: 30px;
}

#adventure {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#adventure h2 {
    text-align: center;
    margin: 1em;
    flex-basis: 100%;
}

#adventure img {
    width: 250px;
}

#adventure figure {
    padding: 1em;
    border: 1px solid black;
    border-radius: 5%;
    transition: transform 1s ease;
}

#adventure figure:hover {
    transform: scale(1.2);
}

figcaption {
    text-align: center;
    font-size: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 40px;
}

footer p {
    grid-column: 2/3;
    text-align: center;
}

footer img:hover {
    transform: scale(1.3);
}

footer a {
    text-decoration: none;

}