:root {
    --page-color: darkblue;
    --text-padding: 20px;
}

nav {
    background-color: var(--page-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: var(--text-padding);
}

h1 {
    color: var(--page-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 13em;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0, .2);
    padding: var(--text-padding);
    background-color: lightblue;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid rgb(0, 0, 0, .5);
    text-align: center;
}